package ${PackageName}.dao.impl;

import com.lego.core.data.hibernate.jpa.BusGenericDao;
import ${PackageName}.dao.I${ClassName}Dao;
import ${PackageName}.entity.${ClassName};

public class ${ClassName}Dao extends BusGenericDao<${ClassName}> implements I${ClassName}Dao {

}