package ${PackageName}.entity;

#parse("vm/java/entity/components/import.vm")

@Setter
@Getter
@Entity
@Table(name = "${TableName}")
public class ${ClassName} extends BusEntity {

#foreach ($column in $columns)
#if($column.entityType)

    @ManyToOne(fetch = FetchType.LAZY)
    @JoinColumn(name = "$column.name")
    private $column.className $column.javaField;
#elseif($column.formType == 'address')

    @Embedded
    @AttributeOverrides({
        @AttributeOverride(name = "province", column = @Column(name = "$column.attributes.province")),
        @AttributeOverride(name = "city", column = @Column(name = "$column.attributes.city")),
        @AttributeOverride(name = "area", column = @Column(name = "$column.attributes.area")),
        @AttributeOverride(name = "detail", column = @Column(name = "$column.attributes.detail"))
    })
    private $column.className $column.javaField;

#elseif(!$column.ignoreField)
    @Column(name = "$column.name")
    private $column.javaFieldType $column.javaField;
#end
#end

    protected ${ClassName}() { }

    public ${ClassName}(String code, String name) {
        super(code, name);
    }

    @Override
    protected void doBuildReadableSnapshot(ReadableVO attributes) {
#foreach ($column in $columns)
    #if($column.formType == 'date')
        attributes.put("$column.comment", DateUtil.toDateString($column.javaField));
    #elseif($column.formType == 'datetime')
        attributes.put("$column.comment", DateUtil.toDateTimeString($column.javaField));
    #elseif($column.formType == 'boolean')
        attributes.put("$column.comment", $column.javaField ? "是" : "否");
    #elseif($column.formType == 'user')
        attributes.put("$column.comment", StringUtil.toString($column.javaField), PublicTypeEnum.EMPLOYEE);
    #elseif($column.formType == 'structure')
        attributes.put("$column.comment", StringUtil.toString($column.javaField), PublicTypeEnum.DEPT);
    #elseif($column.formType == 'select')
        attributes.put("$column.comment", StringUtil.toString($column.javaField), PublicTypeEnum.DICTIONARY);
    #elseif($column.entityType)
        attributes.put("$column.comment", EntityUtil.toString($column.javaField));
    #else
        attributes.put("$column.comment", StringUtil.toString($column.javaField));
    #end
#end
    }
}