<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lego.sharding.mapper.ShardingPropertiesMapper">

    <select id="selectValidBy" resultType="com.lego.core.dto.TypeInfo">
		SELECT t.CODE, t.NAME
		FROM sharding_properties t
		LEFT JOIN sharding_template tmp ON tmp.ID = t.TEMPLATE_ID
		LEFT JOIN sharding_config rc ON rc.ID = t.CONFIG_ID
		<where>
			t.ENABLE = 1
			<if test="entityId != null">
				AND t.ENTITY_ID = #{entityId}
			</if>
			<if test="templateCode != null">
				AND tmp.CODE = #{templateCode}
			</if>
			<if test="configCode != null">
				AND rc.CODE = #{configCode}
			</if>
		</where>
	</select>
</mapper>