<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lego.sharding.mapper.ShardingDataSourceMapper">

    <select id="selectValid" resultType="com.lego.sharding.dto.config.ShardingMetaDataSourceInfo">
		SELECT t.id, t.CODE, t.NAME FROM sharding_data_source t
		WHERE t.ENABLE = 1
	</select>
</mapper>