Write-Host "xxl-job: hello powershell"

Write-Host "脚本位置: " $MyInvocation.MyCommand.Definition
Write-Host "任务参数: "
    if ($args.Count -gt 2) { $args.Count-3 }
Write-Host "分片序号: " $args.Count-2
Write-Host "分片总数: " $args.Count-1

Write-Host "Good bye!"
exit 0
