.head {
  font-size: 16px;
  .icon {
    color: $xr-color-primary;
    margin-right: 10px;
  }
  .text {
    font-weight: bold;
  }
}
.el-form {
  margin-top: 40px;
  .el-form-item {
    margin-bottom: 18px;
    .el-input, .el-select, .el-button {
      width: 376px;
    }
    .el-button {
      height: 36px;
    }

    .user-box {
      .user-img {
        margin-right: 60px;
        &[lazy=loading] {
          margin: 0 60px 0 0;
        }
      }
      .change-avatar {
        font-size: 12px;
        line-height: 1;
        color: $xr-color-primary;
        border: 1px solid $xr-color-primary;
        border-radius: $xr-border-radius-base;
        padding: 8px;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: $xr-color-primary;
        }
      }
    }
  }
}
