.form.is-two-columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -23px;

  .el-form-item.is-required .el-form-item__label:before {
    margin-right: 0;
  }

  .el-form-item {
    flex: 0 0 50%;
    flex-shrink: 0;
    padding: 0 40px;
    margin-bottom: 10px;

    .el-form-item__label {
      color: #333333;
      padding: 5px 0;
      line-height: inherit;
    }

    .el-form-item__error {
      padding-top: 2px;
    }
  }
}

.form.is-dialog {
  margin: 0 -15px;
  ::v-deep .el-form-item {
    padding: 0 20px;
  }
}

.form.is-vertical-dialog {
  display: block;
  margin: 0 -15px;
  ::v-deep .el-form-item {
    flex: 0 0 100%;
    padding: 0 20px;
  }
}
