import Layout from '@/views/layout/CommonLayout'

const layout = function(menu, requiresAuth = true) {
  if (menu.meta) {
    menu.meta.requiresAuth = requiresAuth
  }
  return {
    code: '${AppCode}',
    path: '/${AppCode}',
    component: Layout,
    meta: {
      requiresAuth: true
    },
    children: [
      menu
    ]
  }
}

export default { type: '${AppCode}', router: [
  {
    ...layout({
      code: '${PermissionCode}',
      path: '${FieldName}',
      component: () => import('@/views/${AppCode}/${FieldName}'),
      meta: {
        title: '${FunctionName}',
        icon: 'icon-title'
      }
    })
  }]
}
