@font-face {
  font-family: "lego"; /* Project id 4824716 */
  src: url('@/iconfont/iconfont.woff2?t=1744790556715') format('woff2'),
       url('@/iconfont/iconfont.woff?t=1744790556715') format('woff'),
       url('@/iconfont/iconfont.ttf?t=1744790556715') format('truetype');
}

.lego {
  font-family: "lego" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lego-active-employee:before {
  content: "\e7b6";
}

.lego-activation:before {
  content: "\e7b7";
}

.lego-wallet:before {
  content: "\e7aa";
}

.lego-shopping-cart:before {
  content: "\e7ab";
}

.lego-document-1:before {
  content: "\e671";
}

.lego-credential:before {
  content: "\e7ac";
}

.lego-location:before {
  content: "\e7ad";
}

.lego-document-2:before {
  content: "\e7ae";
}

.lego-android:before {
  content: "\e670";
}

.lego-medal:before {
  content: "\e7af";
}

.lego-apply-for:before {
  content: "\e7b0";
}

.lego-announcement:before {
  content: "\e7b1";
}

.lego-alloc:before {
  content: "\e7b2";
}

.lego-all:before {
  content: "\e7b3";
}

.lego-address-book:before {
  content: "\e66f";
}

.lego-airplane:before {
  content: "\e7b4";
}

.lego-add:before {
  content: "\e7b5";
}

.lego-archive:before {
  content: "\e676";
}

.lego-arrow-left:before {
  content: "\e79f";
}

.lego-approval-19:before {
  content: "\e7a0";
}

.lego-document-3:before {
  content: "\e7a1";
}

.lego-approve:before {
  content: "\e7a2";
}

.lego-document-4:before {
  content: "\e675";
}

.lego-user-transfer:before {
  content: "\e7a3";
}

.lego-approval-15:before {
  content: "\e7a4";
}

.lego-user-cancel:before {
  content: "\e7a5";
}

.lego-increase:before {
  content: "\e674";
}

.lego-document-5:before {
  content: "\e7a6";
}

.lego-box:before {
  content: "\e7a7";
}

.lego-convert:before {
  content: "\e7a8";
}

.lego-all-round:before {
  content: "\e673";
}

.lego-increase-1:before {
  content: "\e7a9";
}

.lego-box-double:before {
  content: "\e672";
}

.lego-catalog:before {
  content: "\e793";
}

.lego-circle-edit:before {
  content: "\e794";
}

.lego-cancel:before {
  content: "\e67b";
}

.lego-calendar:before {
  content: "\e795";
}

.lego-business-intelligence:before {
  content: "\e796";
}

.lego-business:before {
  content: "\e797";
}

.lego-briefing:before {
  content: "\e67a";
}

.lego-b-download:before {
  content: "\e798";
}

.lego-board:before {
  content: "\e799";
}

.lego-b-mobile:before {
  content: "\e79a";
}

.lego-book:before {
  content: "\e79b";
}

.lego-bell:before {
  content: "\e79c";
}

.lego-back-large:before {
  content: "\e679";
}

.lego-associate:before {
  content: "\e677";
}

.lego-back:before {
  content: "\e678";
}

.lego-attachment:before {
  content: "\e79d";
}

.lego-associated:before {
  content: "\e79e";
}

.lego-d-arrow-right:before {
  content: "\e787";
}

.lego-customer-solid:before {
  content: "\e788";
}

.lego-credit:before {
  content: "\e67e";
}

.lego-customer:before {
  content: "\e789";
}

.lego-crm:before {
  content: "\e78a";
}

.lego-config:before {
  content: "\e78b";
}

.lego-contract:before {
  content: "\e78c";
}

.lego-close:before {
  content: "\e67d";
}

.lego-contacts:before {
  content: "\e78d";
}

.lego-copy-to:before {
  content: "\e78e";
}

.lego-classify:before {
  content: "\e78f";
}

.lego-clock:before {
  content: "\e790";
}

.lego-circle-password:before {
  content: "\e791";
}

.lego-circle-iphone:before {
  content: "\e67c";
}

.lego-circle-email:before {
  content: "\e792";
}

.lego-enable:before {
  content: "\e77a";
}

.lego-enterprise:before {
  content: "\e77b";
}

.lego-employees:before {
  content: "\e77c";
}

.lego-email:before {
  content: "\e682";
}

.lego-edit:before {
  content: "\e77d";
}

.lego-double-gear:before {
  content: "\e77e";
}

.lego-drafts:before {
  content: "\e77f";
}

.lego-download:before {
  content: "\e780";
}

.lego-document:before {
  content: "\e781";
}

.lego-doc:before {
  content: "\e681";
}

.lego-data:before {
  content: "\e67f";
}

.lego-disable-employees:before {
  content: "\e782";
}

.lego-disable:before {
  content: "\e783";
}

.lego-delete:before {
  content: "\e784";
}

.lego-data-import:before {
  content: "\e785";
}

.lego-day:before {
  content: "\e786";
}

.lego-hollow-results:before {
  content: "\e76f";
}

.lego-help:before {
  content: "\e687";
}

.lego-grid:before {
  content: "\e770";
}

.lego-good:before {
  content: "\e771";
}

.lego-go-out:before {
  content: "\e772";
}

.lego-funnel-solid:before {
  content: "\e686";
}

.lego-funnel:before {
  content: "\e773";
}

.lego-focus-on:before {
  content: "\e774";
}

.lego-full:before {
  content: "\e775";
}

.lego-folder:before {
  content: "\e776";
}

.lego-folder-1:before {
  content: "\e778";
}

.lego-eye:before {
  content: "\e684";
}

.lego-export:before {
  content: "\e683";
}

.lego-expression:before {
  content: "\e779";
}

.lego-icon-b-ttms:before {
  content: "\e764";
}

.lego-icon-cake:before {
  content: "\e765";
}

.lego-icon-b-setting:before {
  content: "\e766";
}

.lego-icon-bool:before {
  content: "\e767";
}

.lego-icon-bosom:before {
  content: "\e768";
}

.lego-icon-bin:before {
  content: "\e68b";
}

.lego-icon-bevel-contract:before {
  content: "\e769";
}

.lego-icon-barrage:before {
  content: "\e68a";
}

.lego-icon-bankcard:before {
  content: "\e76a";
}

.lego-icon-bag-outline:before {
  content: "\e76b";
}

.lego-icon-back:before {
  content: "\e689";
}

.lego-icon-automation:before {
  content: "\e76c";
}

.lego-icon-administration:before {
  content: "\e76d";
}

.lego-icon-address:before {
  content: "\e688";
}

.lego-house:before {
  content: "\e76e";
}

.lego-icon-edition:before {
  content: "\e758";
}

.lego-icon-email:before {
  content: "\e759";
}

.lego-icon-datetime:before {
  content: "\e75a";
}

.lego-icon-describe:before {
  content: "\e75b";
}

.lego-icon-double-note:before {
  content: "\e75c";
}

.lego-icon-credentials:before {
  content: "\e690";
}

.lego-icon-contract:before {
  content: "\e75d";
}

.lego-icon-copy:before {
  content: "\e75e";
}

.lego-icon-comment:before {
  content: "\e68f";
}

.lego-icon-coin:before {
  content: "\e75f";
}

.lego-icon-cloud-platform:before {
  content: "\e760";
}

.lego-icon-cloud-documents:before {
  content: "\e68e";
}

.lego-icon-cap-outline:before {
  content: "\e761";
}

.lego-icon-checkbox:before {
  content: "\e762";
}

.lego-icon-category-note:before {
  content: "\e763";
}

.lego-icon-calendar:before {
  content: "\e68d";
}

.lego-icon-b-people:before {
  content: "\e68c";
}

.lego-icon-gift:before {
  content: "\e74a";
}

.lego-icon-general-document:before {
  content: "\e74b";
}

.lego-icon-date:before {
  content: "\e693";
}

.lego-icon-full-clock:before {
  content: "\e74c";
}

.lego-icon-forbid:before {
  content: "\e74d";
}

.lego-icon-forbid-user:before {
  content: "\e74e";
}

.lego-icon-folder:before {
  content: "\e74f";
}

.lego-icon-file:before {
  content: "\e750";
}

.lego-icon-fields:before {
  content: "\e692";
}

.lego-icon-eye-solid:before {
  content: "\e751";
}

.lego-icon-email-s:before {
  content: "\e752";
}

.lego-icon-email-outline:before {
  content: "\e691";
}

.lego-icon-edge-transfer:before {
  content: "\e753";
}

.lego-icon-email-open-1:before {
  content: "\e754";
}

.lego-icon-des:before {
  content: "\e755";
}

.lego-icon-draft:before {
  content: "\e756";
}

.lego-icon-down:before {
  content: "\e757";
}

.lego-icon-full-setting:before {
  content: "\e694";
}

.lego-icon-move-arrow:before {
  content: "\e699";
}

.lego-icon-modify:before {
  content: "\e73d";
}

.lego-icon-mobile:before {
  content: "\e698";
}

.lego-icon-milestone:before {
  content: "\e73e";
}

.lego-icon-milepost:before {
  content: "\e73f";
}

.lego-icon-medal:before {
  content: "\e740";
}

.lego-icon-Member-management:before {
  content: "\e741";
}

.lego-icon-location:before {
  content: "\e742";
}

.lego-icon-list:before {
  content: "\e743";
}

.lego-icon-link:before {
  content: "\e697";
}

.lego-icon-license:before {
  content: "\e744";
}

.lego-icon-layer:before {
  content: "\e745";
}

.lego-icon-inventory:before {
  content: "\e746";
}

.lego-icon-int:before {
  content: "\e696";
}

.lego-icon-home:before {
  content: "\e747";
}

.lego-icon-health-data:before {
  content: "\e748";
}

.lego-icon-handle-log:before {
  content: "\e695";
}

.lego-icon-good-l:before {
  content: "\e749";
}

.lego-icon-search-note:before {
  content: "\e72d";
}

.lego-icon-note:before {
  content: "\e69b";
}

.lego-icon-right:before {
  content: "\e72e";
}

.lego-icon-position:before {
  content: "\e72f";
}

.lego-icon-progress:before {
  content: "\e69a";
}

.lego-icon-picture:before {
  content: "\e730";
}

.lego-icon-related-tasks:before {
  content: "\e731";
}

.lego-icon-reply:before {
  content: "\e732";
}

.lego-icon-Online-file:before {
  content: "\e733";
}

.lego-icon-opportunities:before {
  content: "\e734";
}

.lego-icon-relate:before {
  content: "\e735";
}

.lego-icon-personal-data:before {
  content: "\e736";
}

.lego-icon-relation:before {
  content: "\e737";
}

.lego-icon-nav:before {
  content: "\e738";
}

.lego-icon-range:before {
  content: "\e739";
}

.lego-icon-percent:before {
  content: "\e73a";
}

.lego-icon-plus:before {
  content: "\e73b";
}

.lego-icon-my:before {
  content: "\e73c";
}

.lego-icon-time:before {
  content: "\e721";
}

.lego-icon-textarea:before {
  content: "\e722";
}

.lego-icon-task-status:before {
  content: "\e6a0";
}

.lego-icon-task-state:before {
  content: "\e723";
}

.lego-icon-task-progress:before {
  content: "\e724";
}

.lego-icon-task:before {
  content: "\e69f";
}

.lego-icon-star-contract:before {
  content: "\e725";
}

.lego-icon-slip:before {
  content: "\e726";
}

.lego-icon-status:before {
  content: "\e69e";
}

.lego-icon-signature:before {
  content: "\e727";
}

.lego-icon-shop-cart:before {
  content: "\e69d";
}

.lego-icon-setup:before {
  content: "\e728";
}

.lego-icon-setting:before {
  content: "\e729";
}

.lego-icon-seal:before {
  content: "\e72a";
}

.lego-icon-save:before {
  content: "\e72b";
}

.lego-icon-select:before {
  content: "\e72c";
}

.lego-icon-workflow:before {
  content: "\e6a7";
}

.lego-inactive-employee:before {
  content: "\e718";
}

.lego-import:before {
  content: "\e719";
}

.lego-icon-working-hours:before {
  content: "\e6a6";
}

.lego-icon-website:before {
  content: "\e71a";
}

.lego-icon-work-card:before {
  content: "\e6a5";
}

.lego-icon-users:before {
  content: "\e71b";
}

.lego-icon-user-fill:before {
  content: "\e6a4";
}

.lego-icon-user-data:before {
  content: "\e71c";
}

.lego-icon-upload:before {
  content: "\e6a3";
}

.lego-icon-top:before {
  content: "\e71d";
}

.lego-icon-structure:before {
  content: "\e6a2";
}

.lego-icon-tool-cabinet:before {
  content: "\e71e";
}

.lego-icon-title:before {
  content: "\e71f";
}

.lego-icon-tips:before {
  content: "\e720";
}

.lego-icon-sell:before {
  content: "\e69c";
}

.lego-icon-text:before {
  content: "\e6a1";
}

.lego-left-trophy:before {
  content: "\e70d";
}

.lego-l-time:before {
  content: "\e70e";
}

.lego-log:before {
  content: "\e70f";
}

.lego-lock:before {
  content: "\e710";
}

.lego-loading:before {
  content: "\e711";
}

.lego-l-minus:before {
  content: "\e712";
}

.lego-leads:before {
  content: "\e713";
}

.lego-label:before {
  content: "\e714";
}

.lego-iphone-sorting:before {
  content: "\e6ac";
}

.lego-iphone-phase:before {
  content: "\e6ab";
}

.lego-iphone-opportunities:before {
  content: "\e6aa";
}

.lego-invoice:before {
  content: "\e715";
}

.lego-ios:before {
  content: "\e716";
}

.lego-invalid:before {
  content: "\e6a9";
}

.lego-info:before {
  content: "\e717";
}

.lego-inbox:before {
  content: "\e6a8";
}

.lego-o-task:before {
  content: "\e6fc";
}

.lego-org:before {
  content: "\e6fd";
}

.lego-performance:before {
  content: "\e6fe";
}

.lego-office:before {
  content: "\e6ff";
}

.lego-open-email:before {
  content: "\e700";
}

.lego-nearby:before {
  content: "\e701";
}

.lego-new-employee:before {
  content: "\e702";
}

.lego-my-task:before {
  content: "\e6af";
}

.lego-mp:before {
  content: "\e703";
}

.lego-multi-user:before {
  content: "\e704";
}

.lego-message:before {
  content: "\e6ae";
}

.lego-l-plus:before {
  content: "\e705";
}

.lego-month:before {
  content: "\e706";
}

.lego-leave:before {
  content: "\e6ad";
}

.lego-logout:before {
  content: "\e707";
}

.lego-linear-associated:before {
  content: "\e708";
}

.lego-manage:before {
  content: "\e709";
}

.lego-mobile:before {
  content: "\e70a";
}

.lego-man:before {
  content: "\e70b";
}

.lego-l-record:before {
  content: "\e70c";
}

.lego-receive:before {
  content: "\e6b6";
}

.lego-receivables:before {
  content: "\e6f0";
}

.lego-project-description:before {
  content: "\e6b5";
}

.lego-project-board:before {
  content: "\e6f1";
}

.lego-project:before {
  content: "\e6b4";
}

.lego-product:before {
  content: "\e6f2";
}

.lego-print:before {
  content: "\e6b3";
}

.lego-plan:before {
  content: "\e6b2";
}

.lego-picture:before {
  content: "\e6f3";
}

.lego-phoneing:before {
  content: "\e6b1";
}

.lego-phone-radio:before {
  content: "\e6f4";
}

.lego-phone:before {
  content: "\e6f5";
}

.lego-password:before {
  content: "\e6b0";
}

.lego-payment:before {
  content: "\e6f6";
}

.lego-none:before {
  content: "\e6f7";
}

.lego-pack-up:before {
  content: "\e6f8";
}

.lego-perform:before {
  content: "\e6f9";
}

.lego-persons:before {
  content: "\e6fa";
}

.lego-overtime:before {
  content: "\e6fb";
}

.lego-s-seas:before {
  content: "\e6e4";
}

.lego-source:before {
  content: "\e6e5";
}

.lego-sousuo:before {
  content: "\e6e6";
}

.lego-sorting:before {
  content: "\e6bf";
}

.lego-sold-out:before {
  content: "\e6e7";
}

.lego-share:before {
  content: "\e6bd";
}

.lego-social:before {
  content: "\e6be";
}

.lego-shrink:before {
  content: "\e6e8";
}

.lego-shelves:before {
  content: "\e6e9";
}

.lego-search:before {
  content: "\e6ea";
}

.lego-seas:before {
  content: "\e6bc";
}

.lego-s-delete:before {
  content: "\e6bb";
}

.lego-s-contacts:before {
  content: "\e6ba";
}

.lego-screening:before {
  content: "\e6eb";
}

.lego-schedule:before {
  content: "\e6ec";
}

.lego-rotate:before {
  content: "\e6b9";
}

.lego-results-solid:before {
  content: "\e6ed";
}

.lego-reset:before {
  content: "\e6ee";
}

.lego-remove:before {
  content: "\e6b8";
}

.lego-reimbursement:before {
  content: "\e6b7";
}

.lego-recycle-bin:before {
  content: "\e6ef";
}

.lego-unlock:before {
  content: "\e6ca";
}

.lego-type:before {
  content: "\e6db";
}

.lego-unfold:before {
  content: "\e6dc";
}

.lego-turnon:before {
  content: "\e6c9";
}

.lego-turnoff:before {
  content: "\e6c8";
}

.lego-trip:before {
  content: "\e6dd";
}

.lego-transfer:before {
  content: "\e6c7";
}

.lego-time:before {
  content: "\e6c6";
}

.lego-top:before {
  content: "\e6de";
}

.lego-todo:before {
  content: "\e6df";
}

.lego-task:before {
  content: "\e6c5";
}

.lego-target-solid:before {
  content: "\e6c4";
}

.lego-tie:before {
  content: "\e6e0";
}

.lego-target:before {
  content: "\e6e1";
}

.lego-tag:before {
  content: "\e6c3";
}

.lego-table:before {
  content: "\e6c2";
}

.lego-success:before {
  content: "\e6e2";
}

.lego-subtasks:before {
  content: "\e6c1";
}

.lego-subordinate:before {
  content: "\e6e3";
}

.lego-s-status:before {
  content: "\e6c0";
}

.lego-write:before {
  content: "\e6cf";
}

.lego-woman:before {
  content: "\e6ce";
}

.lego-week:before {
  content: "\e6d0";
}

.lego-workbench:before {
  content: "\e6d1";
}

.lego-zoom-in:before {
  content: "\e6d2";
}

.lego-zoom-on:before {
  content: "\e6d3";
}

.lego-wendangx:before {
  content: "\e6d4";
}

.lego-warning:before {
  content: "\e6d5";
}

.lego-video:before {
  content: "\e6cd";
}

.lego-verify-code:before {
  content: "\e6d6";
}

.lego-version:before {
  content: "\e6d7";
}

.lego-user:before {
  content: "\e6cc";
}

.lego-up-unfold:before {
  content: "\e6d8";
}

.lego-upload-simple:before {
  content: "\e6cb";
}

.lego-transform:before {
  content: "\e6d9";
}

.lego-upload:before {
  content: "\e6da";
}

