CALL add_system_permission('${PermissionCode}', '${FunctionName}管理', 'menu', '${AppCode}', 'icon-title', ${startSn}, 'local');
CALL add_system_permission('${PermissionCode}_read', '查看列表', 'auth', '${PermissionCode}', NULL, ${startSn}1, NULL);
CALL add_system_permission('${PermissionCode}_detail', '查看明细', 'auth', '${PermissionCode}', NULL, ${startSn}2, NULL);
CALL add_system_permission('${PermissionCode}_add', '新增', 'auth', '${PermissionCode}', NULL, ${startSn}3, NULL);
CALL add_system_permission('${PermissionCode}_delete', '删除', 'auth', '${PermissionCode}', NULL, ${startSn}4, NULL);
CALL add_system_permission('${PermissionCode}_update', '更新', 'auth', '${PermissionCode}', NULL, ${startSn}5, NULL);
CALL add_system_permission('${PermissionCode}_export', '导出', 'auth', '${PermissionCode}', NULL, ${startSn}6, NULL);