.quick-add {
  width: 290px;
  background: #fff;

  .quick-add-content {
    padding: 12px 24px 24px 24px;

    p {
      height: 34px;
      line-height: 30px;
      width: 110px;
      display: inline-block;
      margin-top: 14px;
      border: 1px solid #eee;
      background: #F7F8FA;
      margin-right: 19px;
      text-align: center;
      border-radius: 3px;
      i, span {
        vertical-align: middle;
      }

      i {
        color: #6C6F73;
        margin-right: 5px;
      }
    }

    p:nth-child(2n) {
      margin-right: 0;
    }

    p:hover {
      background: #2362FB;
      cursor: pointer;

      span {
        color: #fff;
      }

      i {
        color: #fff;
      }
    }
  }
}

.el-header {
  z-index: 1999 !important;
}
