<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lego.flowable.mapper.FlowableCommentMapper">

    <resultMap id="commentResultMap" type="org.flowable.engine.impl.persistence.entity.CommentEntityImpl">
        <id property="id" column="ID_" jdbcType="VARCHAR" />
        <result property="type" column="TYPE_" jdbcType="VARCHAR" />
        <result property="userId" column="USER_ID_" jdbcType="VARCHAR" />
        <result property="time" column="TIME_" jdbcType="TIMESTAMP" />
        <result property="taskId" column="TASK_ID_" jdbcType="VARCHAR" />
        <result property="processInstanceId" column="PROC_INST_ID_" jdbcType="VARCHAR" />
        <result property="action" column="ACTION_" jdbcType="VARCHAR" />
        <result property="message" column="MESSAGE_" jdbcType="VARCHAR" />
        <result property="fullMessageBytes" column="FULL_MSG_" jdbcType="BLOB" />
    </resultMap>

    <select id="selectCommentsByTaskId" resultMap="commentResultMap">
        select *
        from ACT_HI_COMMENT
        where TASK_ID_ = #{taskId,jdbcType=VARCHAR}
        and TYPE_ <![CDATA[<>]]> 'event'
        order by TIME_ asc
    </select>

</mapper>