<template>
  <fade-view
    :visible.sync="visible"
    :loading="loading"
    :title="createTitle"
    @close="close"
    @save="saveClick">
    <create-sections title="基本信息">
      <el-form
        ref="createForm"
        :model="fieldForm"
        :rules="fieldRules"
        :validate-on-rule-change="false"
        class="form"
        label-position="top">
        <form-items
          v-for="(children, index) in dataFieldList"
          :key="index"
          :field-form="fieldForm"
          :field-list="children"
        />
      </el-form>
    </create-sections>
  </fade-view>
</template>

<script>
import {
  ${FieldName}AddAPI,
  ${FieldName}UpdateAPI
} from '@/api/${AppCode}/${FieldName}'
import CreateMixin from '@/components/lego/mixins/LegoCreate'

export default {
  name: '${ClassName}Create',
  mixins: [CreateMixin],
  computed: {
    createTitle() {
      return this.action.type === 'update' ? '编辑${FunctionName}' : '新建${FunctionName}'
    }
  },
  data() {
    return {
      addRequest: ${FieldName}AddAPI,
      updateRequest: ${FieldName}UpdateAPI
    }
  },
  mounted() {
    this.initField().then(res => {
      this.appCode = res.data.form.appCode
      this.dataFieldList = res.data.fields
      this.detailData = this.action.detailData
      this.initValue()
    })
  }
}
</script>

<style lang="scss" scoped>
</style>
