package ${PackageName}.assembler;

import org.springframework.stereotype.Component;

import com.lego.core.assembler.BusAssembler;
#if($Property.hasCommon)
#end
import ${PackageName}.dto.${ClassName}Info;
import ${PackageName}.entity.${ClassName};

@Component
public class ${ClassName}Assembler extends BusAssembler<${ClassName}Info, ${ClassName}> {

    @Override
    protected ${ClassName}Info doCreate(${ClassName} entity) {
        ${ClassName}Info info = new ${ClassName}Info();
#foreach ($column in $columns)
    #if($column.formType == 'boolean_value')
    	info.set${column.firstUpperField}(entity.is${column.firstUpperField}());
    #elseif($column.formType == 'user')
    	info.set${column.firstUpperField}(createEmployee(entity.get${column.firstUpperField}()));
    #elseif($column.formType == 'structure')
    	info.set${column.firstUpperField}(createDept(entity.get${column.firstUpperField}()));
    #elseif($column.typeInfo)
    	info.set${column.firstUpperField}(createTypeInfo(entity.get${column.firstUpperField}()));
    #else
    	info.set${column.firstUpperField}(entity.get${column.firstUpperField}());
    #end
#end
        return info;
    }
}
